.form-field{
    display: flex;
    position: relative;
    margin-bottom: 3rem;
    height: 50px;
    width: 100%;
    // border: 1px solid black;

    label{
        position: absolute;
        left: 1rem;
        top: 1rem;
        padding: 0 0.25rem;
        color: #939fab;
        font-size: 1rem;
        transition: .3s;
        
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        border: 2px solid #e7ebee;
        border-radius: 10px;
        outline: none;
        padding: 1rem;
        background: none;
        z-index: 1;
        color: #171c25;
    }

    input:focus {
        border-color: #fa578e;
        width: 91%;
        
    }

    .label-focused {
        top: -.4rem;
        left: 0.8rem;
        font-size: 14px;
        font-weight: 600;
        background-color: #fff;
        z-index: 10;
        
    }
}