* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// button {
//     height: 2em;
// }

html, body {
    height: 100%;
}

a, button {
    cursor: pointer;
}


@keyframes pan {
    100% { background-position: 15% 50%;}
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-image: url("../images/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 10s infinite alternate linear;
}

@media (width: 500px){
    body {
        padding: 0;
    }
}

.login-card {
    width: 100%;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
}

@media (width: 500px){
    .login-card {
        margin: 0;
        width: 400px;
    }
}

.login-card > h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}

.login-card > h3 {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0,0,0,0.38);
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form > a { color: #001220;}

.login-form > input,
.login-form > button {
    width: 100%;
    height: 4em;
    padding: 0 16px;
    border-radius: 8px;
    
}

.login-form > input {
    border: 2px solid #ebebeb;
}

.login-form > button {
    width: 100%;
    height: 4em;
    border: 0;
    background: #FBAE3C;
    color: black;
    font-weight: 600;

   
}

.login-form > button:hover {
    background: black;
    color: #FBAE3C;
    transition: 0.2s ease-in-out;
}

.login-form > a:hover {
    color: #FBAE3C;
    transition: 0.2s ease-in-out;
}

// h1 {
//     margin-top: 15%;
//     margin-bottom: 10px;
//     font-size: 32px;
//     font-weight: 700;
// }

// h3 {
//     color: #939fab;
//     font-weight: 600;
// }

// form {
//     margin-top: 6rem;

//     .forgot-password-link {
//         text-decoration: none;
//         display: inline-block;
//         width: 100%;
//         text-align: right;
//         font-weight: 600;
//         font-size: 14px;
//         color: #4a4a4a;
//     }

//     app-button {
//         display: block;
//         margin-top: 3rem;
//         width: 100%;
//     }
// }

// .footer-text {
//     text-align: center;
//     font-size: 17px;
//     margin-top: 50%;

//     a {
//         text-decoration: none;
//         font-weight: 600;
//         color: #fa578e;
//     }
// }


.form-field{
    display: flex;
    position: relative;
    //margin-bottom: 5%;
    height: 50px;
    width: 100%;
    // border: 1px solid black;

    label{
        position: absolute;
        left: 1rem;
        top: 1rem;
        padding: 0 0.25rem;
        color: #001220;
        font-size: 1rem;
        transition: .3s;
        
    }

    input {
        // position: absolute;
        // top: 0;
        // left: 0;
        height: 100%;
        width: 100%;
        font-size: 17px;
        //font-weight: 600;
        border: 2px solid #e7ebee;
        border-radius: 10px;
        outline: none;
        padding: 1rem;
        padding-right: 2.3rem;
        background: none;
        z-index: 1;
        color: #171c25;
    }

    input:focus {
        border-color: #FBAE3C;
        width: 100%;
        
    }

    .label-focused {
        top: -.4rem;
        left: 0.8rem;
        font-size: 14px;
        font-weight: 600;
        background-color: #fff;
        z-index: 10;
        
    }

}

.icon {
    display: flex;
    align-items: center;
    margin-right: 3%;
}


.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

.rememberCredentials {
    display: flex;
   label {
    width: 100%;
    text-align: start;
   }
    
}

.rememberCredentialsCheckbox{
    accent-color: #FBAE3C;
    width: 2em;
    margin-right: 3%;
    //height: 60%;
}

.username-input-container{
    display: flex;
    margin-bottom: 5%;
}   

.password-input-container{
    display: flex;
}

.icon-correct-format {
    position: absolute;
    top: 1rem;
    left: 12.3rem;
}