/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a, button {
    cursor: pointer;
}

button{
    height: 4em;
}

@keyframes pan {
    100% { background-position: 15% 50%;}
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("./app/images/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
}

* {
    font-family: 'Roboto', sans-serif;
}