<app-nav></app-nav>
<body>
  <div class="home-card">
    <div class="container">
      <div class="left">
        <div class="calendar">
          <div class="month">
            <i class="fa fa-angle-left prev"></i>
            <div class="date"></div>
            <i class="fa fa-angle-right next"></i>
          </div>
          <div class="weekdays">
            <div>sun</div>
            <div>mon</div>
            <div>tue</div>
            <div>wed</div>
            <div>thu</div>
            <div>fri</div>
            <div>sat</div>
          </div>
          <div class="days">
            <!-- add days with js -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
